# Python / Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.perm
# Project Specific Data & Artifacts
data/
models/
queue/
state.json

# IDE / OS Specific
.vscode/
.idea/
.DS_Store
Thumbs.db